
.footer {
	background-color: #3d3a3a;
	padding: 60px 0px;
	color: #fff;
	// .footer__content

	&__content {
	}

	// .footer__text

	&__text {
		text-align: center;
	}
}

//====================================================================================================

