.header {
	background-color: #ffab0b;
	// .header__content
&__wrapper{
	display: flex;
}

&__info{

}
&__img img{
	margin-top: 100px;
	height: 600px;
}
&__content  {

	}
&__sub-title{
	font-size: 20px;
	margin-bottom: 50px;
	line-height: 1.4;
	color: rgb(82, 80, 80);
	font-weight: 600;
}
}
.logo {
	font-size: 50px;
	font-weight: 600;
	padding: 30px 0px 20px 0px;
	border-bottom: 1px solid #000;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 60px;
}
.header__title {
	position: relative;
	font-size: 40px;
	font-weight: 800;
	max-width: 500px;
	line-height: 1.2em;
	margin-bottom: 40px;
	
	&::before{
		content: "";
		position: absolute;
		top: 0px;
		left: -40px;
		height: 100px;
		width: 13px;
		background: #4bf2a4;
		border-radius: 5px;
	}
}

.button {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	border: 1px solid;
	padding: 15px 40px;
	background-color: #faea07;
	/* background-color: #f2c53d; */
	background-color: #4bf2a4;
	border-radius: 40px;
	box-shadow: 4px 4px 11px 1px rgba(4, 8, 10, 0.38);
}





//====================================================================================================

//Burger
/* .icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
} */

