//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Oswald";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
	background: #f2f2f2;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__program-composition {
		margin-top: 400px;
	}
	&__block-1 {
		margin-top: 450px;
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================



//============================================================================
.program-composition {
	padding: 80px 0px 80px 0px;
	// .program-composition__wrapper

	&__wrapper {
	}

	// .program-composition__title

	&__title {
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 50px;
	}

	// .program-composition__body

	&__body {
		display: flex;
		justify-content:space-around;
	}

	// .program-composition__text

	&__text {
		position: relative;
		font-size: 25px;
		font-weight: 600;
		line-height: 40px;
		margin: 70px 0px 0px 40px;
	li:before {
			content: "";
			background-image: url(../img/arrow.png);
			background-repeat: no-repeat;
			background-size:cover;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0px 10px 0px 0px;
		
		}
	}

	// .program-composition__img

	&__img img{
		width: 300px;
	}
}
//============================================================================
.block-1 {
	// .block-1__img
	position: relative;
	&__img{
		content: "";
		display: block;
		border-radius: 30px;
		height: 564px;
		width: 1170px;
		background-image: url(../img/2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}


//===============================================================================


.sub-block {
	position: relative;
	left: 50px;
	top: -150px;
	background:#ec6843;
	width: 450px;
	height: 500px;
	color: #fff;
	padding: 40px 30px;
	border-radius: 30px;
	z-index: 1;

	// .sub-block__title

	text-align: center;
	&__title {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 30px;
		line-height: 50px;
		letter-spacing: 1px;
	}

	// .sub-block__text

	&__text {
		
		font-size: 30px;
		font-weight: 200;
		color: #fff;
		line-height: 35px;
	}
}

.sub-block-2 {
	position: absolute;
	right: 0;
	top: 350px;
		width: calc(((100% - 1140px) / 2) + 879px);
		background-color: #3c3f5d;
		height: 680px;
		z-index: -1;
		
		&__wrapper {
			position: relative;
			top: 400px;
			left: 400px;
			font-size: 40px;
			font-weight: 300;
			color: #fff;
			li:before {
				content: "";
				background-image: url(../img/arrow.png);
				background-repeat: no-repeat;
				background-size:cover;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0px 10px 0px 0px;
			
			}
		}
		// .sub-block-2__items
	&__items {
		margin: 0px 0px 30px 0px;
	}
}


