//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto Slab";

$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #222121;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
	background: #fff;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__block {
	}
	&__block-2 {
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.block {
	display: flex;
	justify-content:space-between;
	// .block__info

	&__info {
		width: 380px;
		padding: 80px 0px;
	}

	// .block__colums

	&__colums {
		display: flex;
		gap: 25px;
		margin-right: 70px;
		
	}

	// .block__column

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		width: 210px;
		height: 400px;
		
		background-color: #5abcbf;
		color: #fff;
		&:nth-child(2){
			background-color: #6bc75d;
		}
		&:nth-child(3){
			background-color: #b23c8a;
		}
	}

	// .block__img

	&__img {
		margin-bottom: 10px;
		& img{
		width: 80px;
		height: 80px;
		
		} 
	}
}
.text {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 40px;
}
.sub-text {
	
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 40px;
}
.title {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-align: center;
	
}
.text-2 {
	font-weight: 300;
	line-height: 1.3em;
	text-align: center;
}
//============================================================================
.block-2 {
	position: relative;
	padding: 80px 0px;
	/* background-color: #5abcbf; */
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 500px;
	height: 800px;
	&::after{
		content: '';
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0, 0, 0, 0.514);
z-index: 2;
	}


	// .block-2__info

	&__info {
		position: relative;
		z-index: 3;
		color: #fff;
	}

	// .block-2__text

	&__text {
		position: relative;
		font-size: 50px;
		font-weight: 600;
		margin-bottom: 50px;
		&::after{
			content: "";
			position: absolute;
			background-color: #6bc75d;
			width: 100px;
			height: 10px;

		}
	}

	// .block-2__sub-text

	&__sub-text {
		font-size: 25px;
		line-height: 1.8em;
	}
}


